@model SoftUni.Blog.App.Models.ViewModels.UserViewModel

<div class="media-left">
    <img src="@Model.ProfileImage" alt="Profile image"/>
</div>
<div class="media-body">
    <p>Address: @Model.Addreess</p>
    <p>Contact: @Model.Contact</p>
    <p>Email: @Model.Email</p>
    <p>Status: @Model.Status</p>
    <p>Age: @Model.Age</p>
</div>
